//-------------------------------------------------------------------------------
// Layout: Footer
//-------------------------------------------------------------------------------
.footer {
  $ft: &;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: zi(footer);
  background-color: color(tertiary);
  @include large {
    .container {
      padding: 0 12px;

      @include small {
        padding: 0 12px;
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 30px;
    @include large {
      flex-wrap: wrap;
    }

    @include medium {
      padding-bottom: 0;
    }

    @include x-small {
      display: block;
    }
  }

  &__nav {
    padding: 0 8px;
    color: color(primary);
    @include large {
      width: 33%;
    }
    @include medium {
      padding: 0 12px 30px;
    }

    @include x-small {
      width: 100%;
      padding: 0;
      margin-bottom: 36px;
    }

    &__title {
      @include font-size(body);
      // padding: 36px 0 4px;
      margin: 0;
      @include x-small {
        cursor: pointer;
      }
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      padding: 8px 0;
      @include font-size(small);
    }

    &__link {
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 100%;
        border-bottom: solid 1px color(primary);
        left: 0;
        transform: scaleX(0);
        transition: transform 0.4s ease;
        transform-origin: left center;
        @include medium {
          content: none;
        }
      }
      &:hover::after {
        transform: none;
      }
    }
  }

  &__copyright {
    padding: 0 8px 16px 12px;
    @include font-size(small);
    color: color(primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include large {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 20px;
    }

    @include x-small {
      padding: 0 0 16px 0;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      @include large {
        margin-bottom: 16px;
      }

      @include small {
        display: block;
        width: 100%;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      margin-right: 24px;
      cursor: pointer;
      @include font-size(small);
      &:last-child {
        margin-right: 0;
      }

      @include small {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__link {
      @include font-size(small);
    }

    &__img {
      display: block;
      height: 16px;
      margin-right: 8px;
    }
  }

  &__page-link {
    @include large {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      @include small {
        justify-content: flex-start;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      @include x-small {
        flex-wrap: wrap;
      }
    }
    &__item {
      @include font-size(small);
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      @include medium {
        margin-right: 18px;
      }
      @include small {
        margin-right: 8px;
      }
    }
    &__link {
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 100%;
        border-bottom: solid 1px color(primary);
        left: 0;
        transform: scaleX(0);
        transition: transform 0.4s ease;
        transform-origin: left center;
        @include medium {
          content: none;
        }
      }
      &:hover::after {
        transform: none;
      }
    }
  }
}
