// Data navigasi
-
  const otherNav = [
    { txt: 'Microsoft 365', link: '#mic-365' },
    { txt: 'Teams', link: '#teams' },
    { txt: 'Copilot', link: '#copilot' },
    { txt: 'Xbox', link: '#xbox' },
    { txt: 'Dukungan', link: '#dukungan' }
  ];

  const otherDropdown = [
    {
      title: 'Perangkat Lunak',
      items: [
        { txt: 'Aplikasi Windows', link: '#apsWindow' },
        { txt: 'AI', link: '#ai' },
        { txt: 'OneDrive', link: '#oneDrive' },
        { txt: 'Outlook', link: '#outlook' },
        { txt: 'Skype', link: '#skype' },
        { txt: 'OneNote', link: '#oneNote' },
        { txt: 'Microsoft Teams', link: '#microsoftTeams' }
      ]
    },
    {
      title: 'PC dan perangkat',
      items: [
        { txt: 'Beli Xbox', link: '#beliXbox' },
        { txt: 'Accesories', link: '#accesories' }
      ]
    },
    {
      title: 'Hiburan',
      items: [
        { txt: 'Game PC', link: '#gamePC' },
        { txt: 'Permainan Windows', link: '#pWindows' }
      ]
    },
    {
      title: 'Bisnis',
      items: [
        { txt: 'Microsoft Cloud', link: '#microsoftCloud' },
        { txt: 'Microsoft Security', link: '#microsoftSecurity' },
        { txt: 'Azure', link: '#azure' },
        { txt: 'Dynamics 365', link: '#dynamics365' },
        { txt: 'Microsoft 365 untuk bisnis', link: '#microsoft365Business' },
        { txt: 'Microsoft Industry', link: '#microsoftIndustry' },
        { txt: 'Microsoft Power Platform', link: '#powerPlatform' },
        { txt: 'Windows 365', link: '#windows365' }
      ]
    },
    {
      title: 'Pengembang & TI',
      items: [
        { txt: 'Pusat Pengembang', link: '#devCenter' },
        { txt: 'Dokumentasi', link: '#documentation' },
        { txt: 'Microsoft Learn', link: '#microsoftLearn' },
        { txt: 'Microsoft Tech Community', link: '#techCommunity' },
        { txt: 'Marketplace Azure', link: '#azureMarketplace' },
        { txt: 'AppSource', link: '#appSource' },
        { txt: 'Visual Studio', link: '#visualStudio' }
      ]
    },
    {
      title: 'Lainnya',
      items: [
        { txt: 'Unduhan & keamanan gratis', link: '#freeDownloads' },
        { txt: 'Pendidikan', link: '#education' },
        { txt: 'Licensing', link: '#licensing' }
      ]
    }
  ];

include ../../layouts/header.pug
