//-------------------------------------------------------------------------------
  @name: pages | Home | Hero Banner
  @description: Data Hero Banner
  -------------------------------------------------------------------------------//
-
  heroBannerData = [
              {
                title: 'Buka potensi Anda dengan Microsoft Copilot',
                desc: 'Selesaikan pekerjaan lebih cepat dan keluarkan kreativitas Anda dengan keunggulan AI dimana pun Anda berada ',
                imgD: 'assets/img/dummy/hero-banner1.png',
                imgM: 'assets/img/dummy/hero-banner-mobile.jpg',
                alt: 'Microsoft Copilot',
                btn: {
                  to: '#',
                  btnName: 'btn-primary',
                  text: 'Unduh Aplikasi Copilot'
                }
              },
              {
                title: 'Maksimalkan keseharian dengan Microsoft 365',
                desc: 'Dapatkan perlindungan online, penyimpanan cloud yang aman, dan aplikasi inovatif yang dirancang sesuai dengan kebutuhan Anda dalam satu paket',
                imgD: 'assets/img/dummy/hero-banner2.png',
                imgM: 'assets/img/dummy/hero-banner-mobile2.jpg',
                alt: 'Microsoft 365',
                btn: {
                  to: '#',
                  btnName: 'btn-primary',
                  text: 'Untuk 1 orang',
                },
                link: {
                  to: '#',
                  text: 'Untuk hingga 6 orang',
                },
              }
  ];
include ../../layouts/hero-banner.pug
